h1 {
  text-align: center;
  margin-bottom: 50px;
}

.header {
  margin: 0 20px;
  margin-bottom: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.total-payout {
    font-size: 20px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 0.5;
  }
  
